@charset "UTF-8";

/* common ===================================================*/
*,
*::before,
*::after {
  box-sizing:border-box;
}
a {
  text-decoration:none;
  color:inherit; 
}
body {
  font-size:100%;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}


/*■■■■■■ media query min-width: 481px ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/


@media screen and (min-width: 481px){

body {
	width: 100vw;
	height: 100vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	display: flex;
	align-items: center;
	padding: 30px 0 0 40px;
}

header h1 img {
	width: 300px;
}

header nav ul {
	display: flex;
	padding: 0 0 0 30px;
}

header nav ul li {
	padding: 0 0 0 30px;
}

footer {
	position: absolute;
	bottom: 0;
}

footer p {
	padding: 0 0 1.5vh 2vh;
	color: #fff;
	font-size: 12px;
}

}

@media screen and (max-width: 600px){

header h1 img {
	width: 250px;
}

header nav ul li {
	font-size: 0.9em;
	padding: 0 0 0 20px;
}

}

/*■■■■■■ media query max-width: 480px ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/


@media screen and (max-width: 480px){

main {
	background: #fff;
	height: 100vh;
	position: absolute;
	z-index: -2;
}

header {
	display: flex;
	flex-direction: column;
	padding: 40px 0 0 30px;
}

header h1 img {
	width: 230px;
}

header nav ul {
	width: 230px;
	display: flex;
	justify-content: space-between;
	padding: 5px 0 0 0;
}

header nav ul li {
	font-size: 0.8em;
	padding: 0;
}

div {
	width: 100vw;
	height: 35vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 20vh 0 0 0;
}

footer {
	position: absolute;
	bottom: 0;
}

footer p {
	padding: 0 0 2vh 3vh;
	font-size: 10px;
}


}